<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
 	<p>Добавление обЪекта</p>
 	<form th:action="@{/front/new}" th:object="${person}" method="post">
	 	<div>
	 		<label>Id</label>
	 		<input type="text" th:field="*{id}"/>
	 	</div>
	 	<div>
	 		<label>Name</label>
	 		<input type="text" th:field="*{name}"/>
	 	</div>
	 	<div>
	 		<label>SecondaryName</label>
	 		<input type="text" th:field="*{secondaryName}"/>
	 	</div>
	 	<div>
	 		<label>Patronymic</label>
	 		<input type="text" th:field="*{Patronymic}"/>
	 	</div>
	 	<div>
	 		<label>Address</label>
	 		<input type="text" th:field="*{address}"/>
	 	</div>
	 	<div>
            <button type="submit">Submit</button>
        </div>
	 </form>

</div>
<div>
	<p>Список объектов</p>
	<table>
      <tr>
      	<th>Id</th>
        <th>Name</th>
        <th>Secondaryname</th>
        <th>patronymic</th>
        <th>Address</th>
        <th></th>
      </tr>
      <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
		<td th:text="${person.name}"></td>
		<td th:text="${person.secondaryName}"></td>
		<td th:text="${person.patronymic}"></td>
		<td th:text="${person.address}"></td>
		<td><a th:href="@{'/front/del/' + ${person.id}}">delete</a></td>
      </tr>
    </table>
  </div>
</body>
</html>